<div class="pursuit-card pursuit-notification">
    <p><strong>{{capturedName}}</strong> {{localize "PURSUITS.FallsIntoPursuersHands"}}</p>
    <div class="pursuit-caught-actions gm-only">
        <button type="button" data-action="ignoreCaptured">
            {{localize "PURSUITS.TheyAreIgnored"}}
        </button>
        <button type="button" data-action="capturedBySome">
            {{localize "PURSUITS.TheyAreCapturedBySome"}}
        </button>
        <button type="button" data-action="endSimplePursuit">
            {{localize "PURSUITS.EndPursuit"}}
        </button>
    </div>
</div>
